[defaults]
inventory = inventory.ini
stdout_callback = yaml
bin_ansible_callbacks = True
host_key_checking = False
timeout = 30
retry_files_enabled = False
local_tmp = ./.ansible/tmp

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
